main {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    form{

        text-align: center;
        padding: 10px;
        margin: 10px;
        div{
            padding: 10px;
            button{
                padding: 10px;
                margin: 10px;
            }
        }
    }
}

#results{
    width: 95%;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    height: 300px;
    div{
        margin-left:50px;
        span{
            margin-left: 70px;
        }
    }
}